<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Hello Spring Security</title>

        <meta charset="utf-8" />

        <link href="../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">

    </head>

    <body>
    	<div id="wrapper">
        <div th:replace="index::logout"></div>

        <h1>This is a secured page!</h1>

        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
		</div>
    </body>

</html>