<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login</title>
        <meta charset="utf-8" />
	</head>

    <body>
        <h1>Login</h1>
        <p>Example user: user / 1234</p>
        <p th:if="${loginError}" class="error">Wrong user or password</p>

        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />

            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />

            <input type="submit" value="Log in" />
        </form>
        
        <p>Not registered?  <a href="/register">Register Here</a></p>
        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>   
    </body>
</html>