<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Register</title>

        <meta charset="utf-8" />

        <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">

	</head>
	
    <body>
		<div id="wrapper">
        <h1>Register</h1>

        <form th:action="@{/register}" method="post">

            <label for="username">Username</label>:

            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />

            <label for="password">Password</label>:

            <input type="password" id="password" name="password" /> <br />

            <input type="submit" value="Register" />

        </form>

        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
		</div>
    </body>

</html>